.text-field{
   -fx-border-width: .5;
   -fx-background-radius: 0;
    -fx-background-color: #0c1012;
    -fx-border-color: #ffffff;
    -fx-prompt-text-fill: #fff112;
    -fx-text-fill: #ffffff;
   }
